.nav-menu {
  &__root {
    background-color: #f4ffd9;
  }

  &__item {
    font-weight: bold;
    padding: 8px 12px;
    color: #343648;

    &:visited {
      color: #343648;
    }

    &:hover {
      background-color: #c3d4a4;
      cursor: pointer;
      text-decoration: none;
    }
  }
}