.page-main {

  &__root {
    padding: 0.80em;
  }

  &__image {
    border-radius: 50%;
    width: 50%;
    height: auto;
    max-width: 10em;
    margin-right: 0.8em;
  }

  &--lineHeight {
    line-height: 24px;
  }

}
